/*all*/
*{
    padding: 0;
    margin: 0;
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: sans-serif;
    box-sizing: border-box;
    cursor: default;
    z-index: 0;
    scroll-behavior: smooth;
    user-select: none;
}

/*body*/
body{
    overflow: overlay;
}

/*scrollbar custom settings*/
::-webkit-scrollbar{
    width: 2vw;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(80, 80, 80, 0.4);
    border: .6vw solid rgba(0, 0, 0, 0);
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    background-clip: padding-box;
}

/*nav bar*/
#menuSymbol{
    transition: all 1s;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.900);
    width: 100%;
    height: 100vh;
    text-align: center;
    box-shadow: inset 0 0 .3vw rgb(0, 0, 0);
    font-size: 4vw;
    padding: 0 13vw;
    transition: all 1s;
    z-index: 10;
    right: 100%;
}
span{
    background-color: transparent;
}
span a{
    text-decoration: none;
    background-color: transparent;
    transition: all .5s;
}
span a:hover{
    cursor: pointer;
    color: rgb(0, 47, 255);
    transition: all .5s;
}
symbol{
    position: fixed;
    font-size: 3vw;
    padding: 1vh 1vw;
    background-color: transparent;
    z-index: 11;
    transition: all .5s;
}
symbol:hover{
    cursor: pointer;
    filter: brightness(70%);
    transition: all .5s;
}

/*general section formatting*/
section{
    padding: 0 0 10vh;
    font-size: 1.5vw;
}
.title{
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 3vh 0;
    margin-bottom: 8vh;
    font-size: 5vw;
    font-weight: bold;
    border-top: .05em solid rgb(14, 14, 14);
    border-bottom: .05em solid rgb(14, 14, 14);
}
.content{
    padding: 0 5vw;
}

/*flex container*/
.flex{
    display: flex;
}

/*main gif*/
#mainImage{
    position: relative;
    padding: 0;
    height: 100vh;
}
#mainImage img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#mainText{
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 10vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vh 0;
    background-color: rgba(0, 0, 0, 0.700);
    border-top: .05em solid rgba(5, 5, 5, 0.700);
    border-bottom: .05em solid rgba(5, 5, 5, 0.700);
}

/*about me section*/
#aboutMe .flex{
    align-items: center;
    position: relative;
}
#flexLess{
    flex: 25%;
    width: 16vw;
    border-radius: .5vw;
    margin-right: 1vw;
    border: .3em solid black;
}
#flexMore{
    flex: 75%;
    margin-left: 1vw;
}
#aboutMe .content div{
    padding: 2vh 0;
    line-height: 6vh;
    text-align: justify;
}

/*skills section*/
.subtitle{
    position: relative;
    font-size: 2.7vw; 
    overflow: hidden;
    text-align: center;
    margin: 5vh 0;
}
.subtitle::before,.subtitle::after{
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 50%;
    height: 0.5vh;
    content: '\a0';
    background-color: rgb(168, 168, 168);
}
.subtitle::before {
    margin-left: -50%;
    text-align: right;
}
#skills .flex{
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.language{
    display: flex;
    flex-direction: column;
    transition: all .5s;
}
.language:hover{
    transform: scale(1.05);
    transition: all .5s;
}
.language div, .language img{
    background-color: rgb(14, 14, 14);
    text-align: center;
    padding: 2vh .5vw;
    font-size: 1.5vw;
    border: .1em solid black;
    box-shadow: inset 0 0 .55vw rgba(0, 0, 0, 0.767);
}
.language div{
    border-bottom-right-radius: .5vw;
    border-bottom-left-radius: .5vw;
    border-top: 0 solid transparent;
}
.language img{
    border-top-right-radius: .5vw;
    border-top-left-radius: .5vw;
}
#skills .content img{
    object-fit: contain;
    width: 10vw;
    height: 10vw;
}

/*projects section*/
#projects .content{
    position: relative;
}
#projects #left, #projects #right{
    position: absolute;
    font-size: 2vw;
    top: 45%;
    font-size: 3vw;
    transition: all .5s;
}
#projects #right{
    right: 6%;
}
#projects #left{
    left: 6%;
}
#projects #left:hover, #projects #right:hover{
    transform: scale(1.5);
    transition: all .5s;
    cursor: pointer;
    color: rgb(168, 168, 168);
}
#slideshow{
    position: relative;
    width: 90%;
    height: 65vh;
    margin: 0 auto;
}
.slide{
    opacity: 0;
    z-index: -1;
    position: absolute;
    display: grid;
    height: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15% 75% 10%;
    padding: .2em;
    grid-template-areas:
    "name image"
    "description image"
    "link image";
}
.slide div{
    border: .2vw solid black;
    background-color: rgb(14, 14, 14);
    box-shadow: inset 0 0 .28vw rgba(0, 0, 0, 0.767);
}
.slide .name{
    grid-area: name;
    border-right: .1vw solid black;
    border-bottom: .1vw solid black;
    border-top-left-radius: .3em;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide .description{
    grid-area: description;
    border-top: .1vw solid black;
    border-right: .1vw solid black;
    border-bottom: .1vw solid black;
    padding: 2% 5%;
    text-align: justify;
    line-height: 1.3em;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide .links{
    grid-area: link;
    border-top: .1vw solid black;
    border-right: .1vw solid black;
    border-bottom-left-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1vw;
}
.slide .image{
    grid-area: image;
    border-left: .1vw solid black;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide .links div{
    background-color: rgb(14, 14, 14);
    border: none;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.767);
}
.slide .links img{
    width: 1.7vw;
    height: 1.7vw;
    object-fit: contain;
    transition: all .5s;
}
.slide .image img{
    object-fit: scale-down;
    max-height: 90%;
    max-width: 90%;
    border: .3vw solid rgb(26, 26, 26);
}
.slide .links img, .slide .image img{
    text-decoration: none;
    background-color: rgb(14, 14, 14);
}
.slide .links img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .5s;
}

/*contact section*/
#contact .content{
    padding-top: 4vh;
    display: flex;
    justify-content: center;
}
#contact .content div{
    background-color: rgb(14, 14, 14);
    padding: 2vh 1vw;
    font-size: 2.5vw;
    border-radius: .5vw;
    border: .08em solid rgb(0, 0, 0);
    transition: all .5s;
    box-shadow: inset 0 0 .44vw rgba(0, 0, 0, 0.767);
}
#contact .content div:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .5s;
}
#contact .content div a{
    text-decoration: none;
    background-color: transparent;
}
#contact .content div a:hover{
    cursor: pointer;
}