#container{
    padding: 2% 10% 0%;
    text-align: justify;
    line-height: 3vw;
}
.image{
    border: solid white 0.4vw;
    border-radius: 5%;
}
.subtitle{
    font-weight: bolder;
    text-align: center;
}